body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 5px solid hsla(94, 100%, 70%, 1) 10%;
    background: hsla(94, 100%, 70%, 1);
    background: linear-gradient(90deg, hsla(94, 100%, 70%, 1) 10%, hsla(0, 100%, 77%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(94, 100%, 70%, 1) 10%, hsla(0, 100%, 77%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(94, 100%, 70%, 1) 10%, hsla(0, 100%, 77%, 1) 100%);
  }
  
  
  #titleFont {
    font-family: 'Monoton';
  }
  
  #currentDay {
      font-weight: bold;
      font-family: 'Architects Daughter';
  }

  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  

  #hour-9 {
      display:flex;
  }

  .container {   
    background-color: white;
    border: 1px solid white;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;

    height:600px;
    overflow:scroll;
    overflow-x:hidden;
}

.far {
    color: black;
}